<div class="login-container">
  <div class="left-section">
    <h1>Sistema de Ventas</h1>
    <p class="description">Gestiona tus ventas de manera eficiente y profesional</p>
    <img src="assets/images/carrito.png" alt="Compra" class="login-image">
  </div>

  <div class="right-section">
    <div class="login-box">
      <h2>Iniciar Sesión</h2>

      <form (ngSubmit)="onSubmit()" class="login-form">
        <div class="input-group">
          <input name="username" [(ngModel)]="username" type="text" placeholder="Usuario" required autocomplete="username" />
        </div>

        <div class="input-group">
          <input name="password" [(ngModel)]="password" type="password" placeholder="Contraseña" required autocomplete="current-password" />
        </div>

        <button class="login-btn" type="submit">Iniciar Sesión</button>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <div class="options">
          <a class="forgot-password" href="#">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>
